
.textdiv {
    width: 100%;
    text-align: left;
    margin-top: 100px;
    border: 4px solid #326bd4;
    border-radius: 50px 0px 50px 0px;
}
.textdiv h1 {
    text-align: center;
    font-family:'Courgette', cursive;

}

@media only screen and (min-width: 300px) {
    .textdiv p {
        font-size: 20px !important;
        font-family:'Courgette', cursive;

    }
}

@media only screen and (min-width: 768px) {
    .textdiv p {
        font-size: 25px !important;
        font-family:'Courgette', cursive;
    }
}

@media only screen and (min-width: 992px) {
    .textdiv p {
        font-size: 25px !important;
        font-family:'Courgette', cursive;

    }
}

@media only screen and (min-width: 1200px) {
    .textdiv p {
        font-size: 25px !important;
        font-family:'Courgette', cursive;

    }
}